<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <table width="100%">
        <tr>
            <td align="center" valign="center">
                <table align="center" width="230">
                    <tr>
                        <td colspan="2" >
                            <div th:if="${param.error}">
                                Неверный логин или пароль.
                            </div>
                            <div th:if="${param.logout}">
                                Вы вышли.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br>
                            <b>Вход в тестовое приложение.</b>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Пользователь:
                        </td>
                        <td>
                            <input type="text" name="username"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Пароль:
                        </td>
                        <td>
                            <input type="password" name="password"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Войти"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
